<div id="about-us" class="about-us">
    <div class="author-info">
        <div class="author-info-container" itemscope>
            <img src="assets/img/author.jpg" alt="" class="author-img" itemprop="image">
            <p class="author-name" itemprop="founder">Bolboaca Anca-Ioana</p>
        </div>
    </div>
    <div class="author-description">
        <div class="author-description-container" itemscope itemprop="mainEntityOfPage">
            <h1>Despre noi</h1>
            <p><span itemprop="legalName">Topo Hatch</span> ofera servicii si solutii eficiente in domeniul lucrarilor si masuratorilor
                topografice,
                garantand calitate si promptitudine.</p>

            <p>Cu o experienta de peste 10 ani, in domeniul topografiei, echipa condusa de inginer <b>diplomat
                geodez
                Bolboaca Anca-Ioana</b>, se remarca prin profesionalism si varietatea serviciilor oferite. Ne
                propunem
                sa personalizam fiecare proiect si sa comunicam permanent cu clientii, oferind consultanta si
                recomandari specifice fiecarui tip de lucrare solicitata.</p>
            <p>De ce sa ne alegeti?</p>
            <ul>
                <li>executia rapida a lucrarilor de cadastru si topografie, datorita instrumentelor moderne
                    utilizate;
                </li>
                <li>consultanta gratuita;</li>
                <li>verificam cu atenţie actele de proprietate si va îndrumam daca este cazul sa obţineţi alte
                    acte/documente;
                </li>
            </ul>
            <p>Oricat de complexe ar fi proiectele dumneavoastra, noi vom gasi intotdeauna solutia optima pentru
                realizarea acestora!</p>
        </div>
    </div>
</div>