<div id="about-company" class="about-company">
    <div class="about-company-container">
        <h2>Acte Necesare</h2>
        <div class="papers-container">
            <ul class="papers-list">
                <li class="papers-item">
                    <h3>Documentație tehnică pentru obținerea Certificatului de urbanism</h3>
                    <div class="papers-text">
                        <p>
                            - Cerere tip <br>
                            - Extras din planul cadastral suprapus pe ortofotoplan sau plan de încadrare în zonă
                            sc.1 :5000 cu viza OCPI <br>
                            - Extras de carte funciară pentru informare (actualizat) <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice)
                        </p>
                    </div>
                </li>
                <li class="papers-item">
                    <h3>Plan topografic pentru obținerea Autorizației de construire (PAC)</h3>
                    <div class="papers-text">
                        <p>
                            - Declarații tip <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice) <br>
                            - Extras de carte funciară pentru informare (actualizat) <br>
                            - Copia certificatului de urbanism <br>
                        </p>
                    </div>
                </li>
                <li class="papers-item">
                    <h3>Prima înscriere (întabulare) a unui teren situat în extravilan/intravilan</h3>
                    <div class="papers-text">
                        <p>
                            - Declarații tip <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice) <br>
                            - Copia legalizată Titlu de Proprietate <br>
                            - Copia legalizată Certificat de moștenitor (dacă este cazul) <br>
                            - Certificat fiscal eliberat de Primărie <br>
                        </p>
                    </div>
                </li>
                <li class="papers-item">
                    <h3>Înscrierea sentinței civile în Cartea Funciară</h3>
                    <div class="papers-text">
                        <p>
                            - Declaratii tip <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice) <br>
                            - Sentința Civilă cu mențiunea definitivă și irevocabilă <br>
                            - Raport de expertiză (dacă este cazul) <br>
                            - Extras de carte funciară pentru informare (dacă este cazul) <br>
                            - Certificat fiscal eliberat de Primărie <br>
                        </p>
                    </div>
                </li>
                <li class="papers-item"
                    title="(atribuire număr cadastral, schimbarea destinației imobilului, înscrierea adresei administrative, actualizarea categoriei de folosință a imobilului)">
                    <h3>Documentația cadastrală de actualizare informații tehnice ale imobilului</h3>
                    <div class="papers-text">
                        <span class="extra"></span>
                        <p>
                            - Declaratii tip <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice)<br>
                            - Extras de carte funciară pentru informare (actualizat) <br>
                            - Adeverință emisă de Primărie <br>
                        </p>
                    </div>
                </li>
                <li class="papers-item">
                    <h3>Documentație cadastrală de modificare a limitei/limitelor imobilului</h3>
                    <div class="papers-text">
                        <p>
                            - Declarații tip <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice) <br>
                            - Extras de carte funciară pentru informare (actualizat) <br>
                            - Declarație autentică de voință între părți sau hotărârea judecătorească definitivă<br>
                        </p>
                    </div>
                </li>
                <li class="papers-item">
                    <h3>Documentația cadastrală de modificare a suprafeței imobilului</h3>
                    <div class="papers-text">
                        <p>
                            - Declarații tip <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice) <br>
                            - Extras de carte funciară pentru informare (actualizat) <br>
                            - Declarație autentică a proprietarului sau hotărârea judecătorească definitivă <br>
                            - Proces verbal de vecinătate ( este necesar în cazul imobilului neîmprejmuit sau
                            parțial împrejmuit)<br>
                        </p>
                    </div>
                </li>
                <li class="papers-item">
                    <h3>Documentația cadastrală de repoziționare a imobilului</h3>
                    <div class="papers-text">
                        <p>
                            - Declarații tip <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice) <br>
                            - Extras de carte funciară pentru informare (actualizat) <br>
                        </p>
                    </div>
                </li>
                <li class="papers-item">
                    <h3>Documentația cadastrală de înscriere/extindere a unei construcții</h3>
                    <div class="papers-text">
                        <p>
                            - Declarații tip <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice) <br>
                            - Extras de carte funciară pentru informare (actualizat) <br>
                            - Copia legalizată a Autorizației de construire <br>
                            - Copia legalizată a Procesului verbal de recepție la terminarea lucrărilor <br>
                            - Copia legalizată a Certificatului de atestare a edificării/extinderii construcției
                            <br>
                            - Copia legalizată a reveelor din proiect (vizate spre neschimbare) <br>
                            - Certificat fiscal cu valoarea de impunere a construcției eliberat de Primărie <br>
                        </p>
                    </div>
                </li>
                <li class="papers-item">
                    <h3>Documentația cadastrală de radiere a unei construcții</h3>
                    <div class="papers-text">
                        <p>
                            - Declarații tip <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice) <br>
                            - Extras de carte funciară pentru informare (actualizat) <br>
                            - Copia legalizată a Autorizației de demolare <br>
                            - Copia legalizată a Procesului verbal de recepție la terminarea lucrărilor <br>
                            - Copia legalizată a Certificatului de atestare a demolării construcției <br>
                            - Copia legalizată a planurilor din proiect (vizate spre neschimbare) <br>
                            - Certificat fiscal eliberat de Primărie <br>
                        </p>
                    </div>
                </li>
                <li class="papers-item">
                    <h3>Documentația cadastrală de dezmembrare/alipire a unui imobil</h3>
                    <div class="papers-text">
                        <p>
                            - Declarații tip <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice) <br>
                            - Extras de carte funciară pentru informare (actualizat) <br>
                            - Copia Certificatului de urbanism (dacă este cazul) <br>
                        </p>
                    </div>
                </li>
                <li class="papers-item">
                    <h3>Documentația cadastrală de alipire a unităților individuale (apartamente)</h3>
                    <div class="papers-text">
                        <p>
                            - Declarații tip <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice) <br>
                            - Extras de carte funciară pentru informare (actualizat) <br>
                            - Copia legalizată a actului în temeiul căruia se solicită înscrierea <br>
                            - Certificat fiscal eliberat de Primărie <br>
                        </p>
                    </div>
                </li>
                <li class="papers-item">
                    <h3>Documentația cadastrală de apartamentare a unei construcții</h3>
                    <div class="papers-text">
                        <p>
                            - Declarații tip <br>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice) <br>
                            - Extras de carte funciară pentru informare (actualizat) <br>
                            - Copia legalizată a Autorizației de construire <br>
                            - Copia legalizată a Procesului verbal de recepție la terminarea lucrărilor <br>
                            - Copia legalizată a Certificatului de atestare a edificării/extinderii construcției
                            <br>
                            - Copia legalizată a reveelor din proiect (vizate spre neschimbare) <br>
                        </p>
                    </div>
                </li>
                <li class="papers-item">
                    <h3>Trasarea limitelor de proprietate ( înțărușare teren )</h3>
                    <div class="papers-text">
                        <p>
                            - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                            juridice)
                            <br>
                            - „Planul de amplasament si delimitare a imobilului" vizat de catre Oficiul de cadastru,
                            care contine coordonatele punctelor ce delimiteaza terenul
                            <br>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>