<div id="contact-us" class="contact">
    <div class="logo">
        <a href="#"><img itemprop="logo" src="assets/img/logo.png" alt="logo"></a>
    </div>
    <h2>Contacteaza-ne</h2>
    <div class="contact-container" itemscope>
        <ul class="contact-info">
            <li class="contact-item">
                <a href="tel:40-741-074-585" itemprop="telephone">
                    <div class="contact-icon">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </div>
                    <h3>(0040) 741 074 585</h3>
                </a>
            </li>
            <li class="contact-item">
                <a href="mailto:anca.bolboaca@topohatch.ro" itemprop="email">
                    <div class="contact-icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <h3 >anca.bolboaca@topohatch.ro</h3>
                </a>
            </li>
            <li class="contact-item">
                <div class="contact-icon">
                    <i class="fa fa-calendar fa-4" aria-hidden="true"></i>
                </div>
                <h3 itemprop="openingHours">Luni - Vineri 08:00 - 18:00</h3>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="map-container" itemscope>
        <iframe class="google-maps" itemprop="hasMap"
                ng-src="{{trustSrc(gmapsUrl)}}"
                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>