<div class="header">
    <div class="nav">
        <nav>
            <ul class="navigation-list">
                <!--<li ng-class="activeNavItem('welcome')"><a href="#welcome" target="_self"><span>Home</span></a></li>-->
                <li ng-class="activeNavItem('about-us')"><a href="#about-us" target="_self"><span>Despre Noi</span></a></li>
                <li ng-class="activeNavItem('about-company')"><a href="#about-company" target="_self"><span>Acte necesare</span></a></li>
                <li ng-class="activeNavItem('services')"><a href="#services" target="_self"><span>Servicii</span></a></li>
                <li ng-class="activeNavItem('prices')"><a href="#prices" target="_self"><span>Tarife</span></a></li>
                <li ng-class="activeNavItem('info')"><a href="#info" target="_self"><span>Info</span></a></li>
                <li ng-class="activeNavItem('external-links')"><a href="#external-links" target="_self"><span>Link-uri utile</span></a></li>
                <li ng-class="activeNavItem('contact-us')"><a href="#contact-us" target="_self"><span>Contact</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="search">

    </div>
</div>