<div id="info" class="info">
    <div class="info-container">
        <h2>Informatii utile</h2>
        <div class="info-sections">
            <ul class="info-list">
                <li>
                    <div class="info-item" hide-parent-on-click>
                        <div class="info-header">
                            <div class="info-index">
                                1
                            </div>
                            <div class="info-question">
                                <span>Este necesară cadastrarea / întabularea terenului?</span>
                            </div>
                        </div>
                        <div class="info-body">
                            <p>
                                - cadastrarea terenului <span>asigură</span> siguranța tranzacțiilor imobiliare;
                                <br>
                                - întabularea este <span>necesară</span> pentru înstrăinarea imobilului ( vânzare,
                                donație,
                                moștenire), deoarece oferă garanția dreptului de proprietate a imobilului;
                                <br>
                                - întabularea are ca scop înscrierea în Cartea Funciară a unei proprietăți <span>în baza
                                    actelor de proprietate</span> (Titlu de Proprietate, Certificat de moștenitor..etc)
                                și a
                                unei documentații cadastrale avizate de oficiul de cadastru;
                                <br>
                                - prin cadastrarea terenului <span>se pot elimina</span> anumite probleme pe care
                                proprietarul
                                poate nu le cunoaște, cum ar fi: suprafața din acte nu coincide cu suprafața
                                măsurată; suprapuneri cu proprietățile vecine, care au deja lucrare cadastrală
                                realizată și avizată de Oficiul de Cadastru;
                                <br>
                                - rolul cadastrului este <span>de a furniza</span> informații obiective: poziție,
                                suprafață,
                                folosință, proprietar, cu privire la imobil;
                                <br>
                                - cadastrul și întabularea nu se pot realiza separat, documentațiile cadastrale se
                                înscriu automat în Cartea Funciară;
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="info-item" hide-parent-on-click>
                        <div class="info-header">
                            <div class="info-index">
                                2
                            </div>
                            <div class="info-question">
                                <span>Modificarea sau înscrierea adresei poștale în Cartea Funciară</span>
                            </div>
                        </div>
                        <div class="info-body">
                            <p>
                                - <span>modificarea sau înscrierea</span> în Cartea Funciară a adresei poștale se
                                realizeaza în
                                baza unui <span>act administrativ</span> (adeverință) emisă de <span>Primărie</span>;
                                <br>
                                - dacă adresa poștală <span>este</span> înscrisă în Cartea Funciară și solicităm
                                doar modificarea
                                acestei, atunci proprietarul poate solicita la Biroul de Carte Funciară modificarea
                                adresei poștale în baza actului administrativ emis de Primărie;
                                <br>
                                - dacă adresa poștală <span>nu este</span> înscrisă în Cartea Funciară, este
                                necesară întocmirea
                                unei documentații cadastrale de către o persoana autorizată de ANCPI;
                                <br>
                                - documentația cadastrală se va întocmi în baza actului administrativ emis de
                                Primărie și va avea ca scop <span>înscrierea adresei</span> poștale în CF;
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="info-item" hide-parent-on-click>
                        <div class="info-header">
                            <div class="info-index">
                                3
                            </div>
                            <div class="info-question">
                                <span>Cum obțin un extras de carte funciară?</span>
                            </div>
                        </div>
                        <div class="info-body">
                            <p>
                                - pentru a putea solicita un extras de carte funciară trebuie neapărat să cunoștem
                                numărul de carte funciară și numărul cadastral sau topografic al imobilului;
                                <br>
                                - numărul de carte funciară și numărul cadastral sau topografic al imobilului se
                                poate obține dintr-un extras mai vechi sau din arhiva Biroului de Carte Funciară;
                                <br>
                                - extrasul de carte funciară poate fi solicitat de oricine cunoaște datele de carte
                                funciară (numărul carte funciară și numărul cadastral sau topografic al imobilului),
                                indiferent dacă este sa nu proprietar;
                                - extrasul de carte funciara se poate solicita online - ePayment ANCPI sau prin
                                depunerea unei cereri tip la OCPI CLUJ / BCPI CLUJ-NAPOCA;
                                <br>
                                - OCPI CLUJ - OFICIUL DE CADSTRU ȘI PUBLICITATE IMOBILIARĂ CLUJ are sediul pe str.
                                Alexandra Vaida Voievod, nr. 53 (lângă Iulius Mall), tel. 0264-431666;
                                <br>
                                - BCPI CLUJ-NAPOCA - BIROUL DE CADASTRU ȘI PUBLICITATE IMOBILIARĂ CLUJ-NAPOCA are
                                sediul în Piața Gării, nr. 5 (vis-a-vis cu gara Cluj-Napoca), tel. 0264-431032;
                                <br>
                                - cererile se pot depune în intervalul orar 8.30 - 14.00, iar ridicarea extrasului
                                de carte funciară se poate efectua între orele 11.00 - 16.00;
                                <br>
                                - ridicarea extrasului de carte funciară se poate realiza doar de la BCPI
                                Cluj-Napoca;

                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>