<div id="external-links" class="links-section">
    <h2>Link-uri utile</h2>
    <div class="links">
        <div class="external-link">
            <a href="http://www.ocpicluj.ro/" target="_blank">
                <h3>OCPI Cluj</h3>
            </a>
        </div>
        <div class="external-link">
            <a href="http://epay.ancpi.ro/epay/Welcome.action" target="_blank">
                <h3>ANCPI</h3>
            </a>
        </div>
        <div class="external-link">
            <a href="http://www.primariaclujnapoca.ro/" target="_blank">
                <h3>Primaria Cluj</h3>
            </a>
        </div>
        <div class="external-link">
            <a href="http://www.primaria-baciu.ro/" target="_blank">
                <h3>Primaria Baciu</h3>
            </a>
        </div>
        <div class="external-link">
            <a href="http://www.comunafeleacu.ro/" target="_blank">
                <h3>Primaria Feleacu</h3>
            </a>
        </div>
        <div class="external-link">
            <a href="http://www.primariachinteni.ro/" target="_blank">
                <h3>Primaria Chinteni</h3>
            </a>
        </div>
    </div>
</div>