<div id="prices" class="prices">
    <div class="prices-container">
        <div class="logo">
            <a href="#"><img itemprop="logo" src="assets/img/logo.png" alt="logo"></a>
            <h2>Preturi servicii</h2>
        </div>
        <div class="price-container">
            <ul class="price-list">
                <li class="price-item">
                    <h3>Ridicări topografice</h3>
                    <div class="papers-text">
                        <p>
                            - Măsurători (verificare suprafata, documentatie cadastrala,etc) - 500 lei <br>
                            - Plan topografic pentru întocmirea documentației autorizației de construire - 1000 lei
                            + <a target="_blank"
                                 href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                            OCPI</a>
                        </p>
                    </div>
                </li>
                <li class="price-item">
                    <h3>Prima înscriere / întabulare a unui imobil în Cartea Funciară</h3>
                    <div class="papers-text">
                        <p>
                            - Întabulare imobil situat în extravilan - 1000 lei + <a target="_blank"
                                                                                     href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                            OCPI</a> <br>
                            - Întabulare imobil situat în intravilan - 1000 lei + <a target="_blank"
                                                                                     href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                            OCPI</a> <br>
                            - Înscrierea sentințelor civile în Cartea Funciară - 1000 lei + <a target="_blank"
                                                                                               href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                            OCPI</a> <br>
                            * în funcție de complexitatea SENTINȚEI CIVILE prețul afișat se poate modifica
                        </p>
                    </div>
                </li>
                <li class="price-item">
                    <h3>Actualizare date imobil (teren, construcție, apartament)</h3>
                    <div class="papers-text">
                        <p>
                            - Atribuire număr cadastral - 800 lei + <a target="_blank"
                                                                       href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                            OCPI</a> <br>
                            - Rectificarea suprafeței, limitelor imobilului - 900 lei + <a target="_blank"
                                                                                           href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                            OCPI</a> <br>
                            - Repoziționare imobil - 900 lei + <a target="_blank"
                                                                  href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                            OCPI</a> <br>
                            - Actualizare informații tehnice (schimbarea destinației imobilului / înscrierea adresei
                            administrative / actualizarea categoriei de folosință a imobilului) - 800 lei + taxe
                            OCPI
                        </p>
                    </div>
                </li>
                <li class="price-item">
                    <h3>Alte operațiuni cadastrale</h3>
                    <div class="papers-text">
                        <p>
                            - Documentație tehnică pentru obținerea certificatului de urbanism -500 Lei + taxe <br>
                            - Documentație tehnică pentru obținere adeverință adresă poștală - 350 Lei + taxe <br>
                            - Plan de amplasament și delimitare a imobilului - 250 lei <br>
                            - Întocmire relevee pentru case și apartamente - 5 lei/mp <br>
                            - Identificarea proprietătii pe hărti, planuri din arhiva cărții funciare - 300 lei +
                            <a target="_blank"
                               href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                OCPI</a>
                            <br>
                            - Obținere extras de carte funciara de informare - 100 lei + <a target="_blank"
                                                                                            href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                            OCPI</a> <br>
                            - Extras din planul cadastral suprapus pe ortofotoplan - 100 lei + <a target="_blank"
                                                                                                  href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                            OCPI</a>
                        </p>
                    </div>
                </li>
                <li class="price-item">
                    <h3>Dezmembrarea / alipirea imobilelor - 400/parcelă + <a target="_blank"
                                                                              href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                        OCPI</a></h3>
                </li>
                <li class="price-item">
                    <h3>Trasare puncte limite de proprietate - 50 lei/punct</h3>
                </li>
                <li class="price-item">
                    <h3>Înscrierea / extinderea / radierea unei construcții - 900 + <a target="_blank"
                                                                                       href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                        OCPI</a></h3>
                </li>
            </ul>
        </div>
        <p>
            *serviciile mentionate mai sus pot fi supuse unor modificari. <br>
            *Tarifele sunt valabile pentru județul Cluj și pot varia în funcție de complexitatea lucrărilor. <br>
            *Prețul total al lucrării este format din: Onorariu + <a target="_blank"
                                                                     href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
            OCPI</a>/ taxe Primărie. <br>
            *Pentru mai multe lucrări solicitate de același proprietar se aplica reducere de pana la 30% din
            cuatumul total al lucrărilor.
        </p>
    </div>
</div>