<div id="services" class="services">
    <div class="services-container">
        <div class="logo">
            <a href="#"><img itemprop="logo" src="assets/img/logo.png" alt="logo"></a>
            <h2>Servicii</h2>
        </div>
        <div class="services-tiles">
            <ul class="services-list">
                <li class="service"  hide-parent-on-click>
                    <h3>Ridicari Topografice</h3>
                    <div class="modal-view">
                        <div class="service-image"></div>
                        <div class="service-text">
                            <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                            <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                                PUD,
                                PUZ, sau a Certificatului de Urbanism</p>
                        </div>
                    </div>
                </li>
                <li class="service"  hide-parent-on-click>
                    <h3>Prima înscriere / întabulare a unui imobil în Cartea Funciară</h3>
                    <div class="modal-view">
                        <div class="service-image"></div>
                        <div class="service-text">
                            <p>- întabulare imobil situat în extravilan,</p>
                            <p>- întabulare imobil situat în intravilan (teren, construcție, apartament)</p>
                            <p>- înscrierea sentințelor civile în Cartea Funciară</p>
                        </div>
                    </div>
                </li>
                <li class="service"  hide-parent-on-click>
                    <h3>Actualizare date imobil <br> (teren, construcție, apartament)</h3>
                    <div class="modal-view">
                        <div class="service-image"></div>
                        <div class="service-text">
                            <p>- atribuire număr cadastral</p>
                            <p>- rectificarea suprafeței, limitelor și actualizarea datelor tehnice / juridice în
                                Cartea
                                Funciară</p>
                            <p>- repoziționare imobil</p>
                            <p>- schimbarea destinației imobilului pentru orice teren/construcție</p>
                            <p>- înscrierea adresei administrative în Cartea Funciară</p>
                            <p>- actualizarea categoriei de folosință a imobilului</p>
                            <p>- înscrierea unei / sau mai multor construcții definitive, provizorii, parțiale în
                                Cartea
                                Funciară</p>
                            <p>- înscrierea extinderii unei construcții in Cartea Funciară</p>
                        </div>
                    </div>
                </li>
                <li class="service"  hide-parent-on-click>
                    <h3>Dezmembrare/dezlipire/parcelare imobil <br> ( situat în intravilan/extravilan)</h3>
                    <div class="modal-view">
                        <div class="service-image"></div>
                        <div class="service-text">
                            <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                            <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                                PUD,
                                PUZ, sau a Certificatului de Urbanism</p>
                        </div>
                    </div>
                </li>
                <li class="service"  hide-parent-on-click>
                    <h3>Comasare/alipire imobile <br> (situate in intravilan/extravilan)</h3>
                    <div class="modal-view">
                        <div class="service-image"></div>
                        <div class="service-text">
                            <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                            <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                                PUD,
                                PUZ, sau a Certificatului de Urbanism</p>
                        </div>
                    </div>
                </li>
                <li class="service"  hide-parent-on-click>
                    <h3>Apartamentare construcții <br> (blocuri, duplexuri, etc)</h3>
                    <div class="modal-view">
                        <div class="service-image"></div>
                        <div class="service-text">
                            <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                            <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                                PUD,
                                PUZ, sau a Certificatului de Urbanism</p>
                        </div>
                    </div>
                </li>
                <li class="service"  hide-parent-on-click>
                    <h3>Reapartamentare unitate individuală</h3>
                    <div class="modal-view">
                        <div class="service-image"></div>
                        <div class="service-text">
                            <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                            <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                                PUD,
                                PUZ, sau a Certificatului de Urbanism</p>
                        </div>
                    </div>
                </li>
                <li class="service"  hide-parent-on-click>
                    <h3>Întocmire relevee constructii <br> (apartament, casa, etc)</h3>
                    <div class="modal-view">
                        <div class="service-image"></div>
                        <div class="service-text">
                            <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                            <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                                PUD,
                                PUZ, sau a Certificatului de Urbanism</p>
                        </div>
                    </div>
                </li>
                <li class="service"  hide-parent-on-click>
                    <h3>Expertize tehnice extrajudiciare</h3>
                    <div class="modal-view">
                        <div class="service-image"></div>
                        <div class="service-text">
                            <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                            <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                                PUD,
                                PUZ, sau a Certificatului de Urbanism</p>
                        </div>
                    </div>
                </li>
                <li class="service"  hide-parent-on-click>
                    <h3>Trasare</h3>
                    <div class="modal-view">
                        <div class="service-image"></div>
                        <div class="service-text">
                            <p>- limită de proprietate/puncte de contur (țărușare, bornare)</p>
                            <p>- axe construcție, contur construcție, cota zero, etc</p>
                        </div>
                    </div>
                </li>
                <li class="service"  hide-parent-on-click>
                    <h3>Carte Funciară</h3>
                    <div class="modal-view">
                        <div class="service-image"></div>
                        <div class="service-text">
                            <p>- identificarea proprietătii pe hărti, planuri din arhiva cărții funciare</p>
                            <p>- obținerea extrasului de carte funciară pentru informare</p>
                            <p>- obținerea extrasului din planul cadastral de carte funciară</p>
                            <p>- verificări ale înscrierilor din cartea funciară</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>