<div id="welcome" class="welcome">
    <div class="heading">
        <div class="logo">
            <a href="#"><img itemprop="logo" src="assets/img/logo.png" alt="logo"></a>
        </div>
        <h1>Bine ati venit</h1>
    </div>
</div>