<div id="about-company" class="about-company">
    <div class="divider-new pt-5">
        <h2 class="h2-responsive wow fadeIn">Acte Necesare</h2>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Documentație tehnică pentru obținerea Certificatului de urbanism</h4>
                <p class="card-text">
                    - Cerere tip <br>
                    - Extras din planul cadastral suprapus pe ortofotoplan sau plan de încadrare în zonă
                    sc.1 :5000 cu viza OCPI <br>
                    - Extras de carte funciară pentru informare (actualizat) <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice)
                </p>
            </div>
            <!--/.Panel-->
        </div>
        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Plan topografic pentru obținerea Autorizației de construire (PAC)</h4>
                <p class="card-text">
                    - Declarații tip <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice) <br>
                    - Extras de carte funciară pentru informare (actualizat) <br>
                    - Copia certificatului de urbanism <br>
                </p>
            </div>
            <!--/.Panel-->
        </div>
        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Prima înscriere (întabulare) a unui teren situat în extravilan/intravilan</h4>
                <p class="card-text">
                    - Declarații tip <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice) <br>
                    - Copia legalizată Titlu de Proprietate <br>
                    - Copia legalizată Certificat de moștenitor (dacă este cazul) <br>
                    - Certificat fiscal eliberat de Primărie <br>
                </p>
            </div>
            <!--/.Panel-->
        </div>
    </div>
    <div class="row">

        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Înscrierea sentinței civile în Cartea Funciară</h4>
                <p class="card-text">
                    - Declaratii tip <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice) <br>
                    - Sentința Civilă cu mențiunea definitivă și irevocabilă <br>
                    - Raport de expertiză (dacă este cazul) <br>
                    - Extras de carte funciară pentru informare (dacă este cazul) <br>
                    - Certificat fiscal eliberat de Primărie <br>
                </p>
            </div>
            <!--/.Panel-->
        </div>
        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Documentația cadastrală de actualizare informații tehnice ale imobilului</h4>
                <p class="card-text">
                    - Declaratii tip <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice)<br>
                    - Extras de carte funciară pentru informare (actualizat) <br>
                    - Adeverință emisă de Primărie <br>
                </p>
            </div>
            <!--/.Panel-->
        </div>
        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Documentație cadastrală de modificare a limitei/limitelor imobilului</h4>
                <p class="card-text">
                    - Declarații tip <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice) <br>
                    - Extras de carte funciară pentru informare (actualizat) <br>
                    - Declarație autentică de voință între părți sau hotărârea judecătorească definitivă<br>
                </p>
            </div>
            <!--/.Panel-->
        </div>
    </div>
    <div class="row">

        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Documentația cadastrală de modificare a suprafeței imobilului</h4>
                <p class="card-text">
                    - Declarații tip <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice) <br>
                    - Extras de carte funciară pentru informare (actualizat) <br>
                    - Declarație autentică a proprietarului sau hotărârea judecătorească definitivă <br>
                    - Proces verbal de vecinătate ( este necesar în cazul imobilului neîmprejmuit sau
                    parțial împrejmuit)<br>
                </p>
            </div>
            <!--/.Panel-->
        </div>
        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Documentația cadastrală de repoziționare a imobilului</h4>
                <p class="card-text">
                    - Declarații tip <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice) <br>
                    - Extras de carte funciară pentru informare (actualizat) <br>
                    - Declarație autentică de voință între părți sau hotărârea judecătorească definitivă<br>
                </p>
            </div>
            <!--/.Panel-->
        </div>
        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Documentația cadastrală de alipire a unităților individuale (apartamente)</h4>
                <p class="card-text">
                    - Declarații tip <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice) <br>
                    - Extras de carte funciară pentru informare (actualizat) <br>
                    - Copia legalizată a actului în temeiul căruia se solicită înscrierea <br>
                    - Certificat fiscal eliberat de Primărie <br>
                </p>
            </div>
            <!--/.Panel-->
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Documentația cadastrală de radiere a unei construcții</h4>
                <p class="card-text">
                    - Declarații tip <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice) <br>
                    - Extras de carte funciară pentru informare (actualizat) <br>
                    - Copia legalizată a Autorizației de demolare <br>
                    - Copia legalizată a Procesului verbal de recepție la terminarea lucrărilor <br>
                    - Copia legalizată a Certificatului de atestare a demolării construcției <br>
                    - Copia legalizată a planurilor din proiect (vizate spre neschimbare) <br>
                    - Certificat fiscal eliberat de Primărie <br>
                </p>
            </div>
            <!--/.Panel-->
        </div>
        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Documentația cadastrală de înscriere/extindere a unei construcții</h4>
                <p class="card-text">
                    - Declarații tip <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice) <br>
                    - Extras de carte funciară pentru informare (actualizat) <br>
                    - Copia legalizată a Autorizației de construire <br>
                    - Copia legalizată a Procesului verbal de recepție la terminarea lucrărilor <br>
                    - Copia legalizată a Certificatului de atestare a edificării/extinderii construcției
                    <br>
                    - Copia legalizată a reveelor din proiect (vizate spre neschimbare) <br>
                    - Certificat fiscal cu valoarea de impunere a construcției eliberat de Primărie <br>
                </p>
            </div>
            <!--/.Panel-->
        </div>
        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Documentația cadastrală de apartamentare a unei construcții</h4>
                <p class="card-text">
                    - Declarații tip <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice) <br>
                    - Extras de carte funciară pentru informare (actualizat) <br>
                    - Copia legalizată a Autorizației de construire <br>
                    - Copia legalizată a Procesului verbal de recepție la terminarea lucrărilor <br>
                    - Copia legalizată a Certificatului de atestare a edificării/extinderii construcției
                    <br>
                    - Copia legalizată a reveelor din proiect (vizate spre neschimbare) <br>
                </p>
            </div>
            <!--/.Panel-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Documentația cadastrală de apartamentare a unei construcții</h4>
                <p class="card-text">
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice)
                    <br>
                    - „Planul de amplasament si delimitare a imobilului" vizat de catre Oficiul de cadastru,
                    care contine coordonatele punctelor ce delimiteaza terenul
                    <br>
                </p>
            </div>
            <!--/.Panel-->
        </div>
        <div class="col-lg-4 mb-r">
            <!--Panel-->
            <div class="card card-body">
                <h4 class="card-title">Trasarea limitelor de proprietate (înțărușare teren)</h4>
                <p class="card-text">
                    - Declarații tip <br>
                    - Copii acte de identitate (persoane fizice) sau certificat constatator (persoane
                    juridice) <br>
                    - Extras de carte funciară pentru informare (actualizat) <br>
                    - Copia legalizată a Autorizației de construire <br>
                    - Copia legalizată a Procesului verbal de recepție la terminarea lucrărilor <br>
                    - Copia legalizată a Certificatului de atestare a edificării/extinderii construcției
                    <br>
                    - Copia legalizată a reveelor din proiect (vizate spre neschimbare) <br>
                </p>
            </div>
            <!--/.Panel-->
        </div>
    </div>
</div>