<div id="about-us" class="about-us">
    <div class="divider-new pt-5">
        <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Despre noi</h2>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-r">
            <!--Card Wider-->
            <div class="card card-cascade wider">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="assets/img/author.jpg" class="img-fluid">
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>Bolboaca Anca-Ioana</strong></h4>
                    <h5 class="indigo-text"><strong>Fondator</strong></h5>

                    <p class="card-text"> Inginer topograf cu studii post universitare de topografie si cadastru, persoana fizica autorizata ANCPI.</p>

                    <!--Linkedin-->
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                    <!--Twitter-->
                    <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                    <!--Dribbble-->
                    <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card Wider-->
        </div>
        <div class="col-lg-7 mb-r">
            <div class="author-description">
                <div class="author-description-container" itemscope itemprop="mainEntityOfPage">
                    <p><span itemprop="legalName">Topo Hatch</span> ofera servicii si solutii eficiente in domeniul lucrarilor si masuratorilor
                        topografice,
                        garantand calitate si promptitudine.</p>

                    <p>Cu o experienta de peste 10 ani, in domeniul topografiei, echipa condusa de inginer <b>diplomat
                        geodez
                        Bolboaca Anca-Ioana</b>, se remarca prin profesionalism si varietatea serviciilor oferite. Ne
                        propunem
                        sa personalizam fiecare proiect si sa comunicam permanent cu clientii, oferind consultanta si
                        recomandari specifice fiecarui tip de lucrare solicitata.</p>
                    <p>De ce sa ne alegeti?</p>
                    <ul>
                        <li>executia rapida a lucrarilor de cadastru si topografie, datorita instrumentelor moderne
                            utilizate;
                        </li>
                        <li>consultanta gratuita;</li>
                        <li>verificam cu atenţie actele de proprietate si va îndrumam daca este cazul sa obţineţi alte
                            acte/documente;
                        </li>
                    </ul>
                    <p>Oricat de complexe ar fi proiectele dumneavoastra, noi vom gasi intotdeauna solutia optima pentru
                        realizarea acestora!</p>
                </div>
            </div>
        </div>
    </div>
</div>