<div id="contact-us" class="contact mb-5">
    <div class="divider-new pt-5">
        <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">CONTACTEAZA-NE</h2>
    </div>
    <section id="contact pb-5">
        <div class="row">
            <!--First column-->
            <div class="col-md-8">
                <div class="map-container" itemscope>
                    <iframe class="google-maps" itemprop="hasMap"
                            ng-src="{{trustSrc(gmapsUrl)}}"
                            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-4">
                <ul class="text-center list-unstyled">
                    <li class="wow fadeIn" data-wow-delay="0.2s">
                        <a href="mailto:anca.bolboaca@topohatch.ro" itemprop="email">
                            <i class="fa fa-map-marker teal-text fa-lg"></i>
                            <p>Luni - Vineri 08:00 - 18:00</p>
                        </a>
                    </li>

                    <li class="wow fadeIn mt-5 pt-2" data-wow-delay="0.3s">
                        <a href="tel:40-741-074-585" itemprop="telephone">
                            <i class="fa fa-phone teal-text fa-lg">
                            </i>
                            <p>(0040) 741 074 585</p>
                        </a>
                    </li>

                    <li class="wow fadeIn mt-5 pt-2" data-wow-delay="0.4s">
                        <a href="mailto:anca.bolboaca@topohatch.ro" itemprop="email">
                            <i class="fa fa-envelope teal-text fa-lg"></i>
                            <p>anca.bolboaca@topohatch.ro</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Second column-->
        </div>
    </section>
</div>