<div class="footer text-center">
    <h5 class="dark-grey-text"><strong>Web Developer | Eduard Mihoc</strong></h5>
    <!--Linkedin-->
    <a class="icons-sm li-ic" href="https://www.linkedin.com/in/eduard-mihoc" target="_blank"><i class="fa fa-linkedin"> </i></a>
    <!--Dribbble-->
    <a class="icons-sm fb-ic" href="https://www.facebook.com/eduardmihoc" target="_blank"><i class="fa fa-facebook"> </i></a>
</div>