<header class="header">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Topohatch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#about-us" target="_self">Despre Noi <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-company" target="_self"><span>Acte necesare</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services" target="_self"><span>Servicii</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#prices" target="_self"><span>Tarife</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#info" target="_self"><span>Info</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#external-links" target="_self"><span>Link-uri utile</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-us" target="_self"><span>Contact</span></a>
                    </li>

                    <!--
                        <li class="nav-item btn-group">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    -->
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

    <!--Intro Section-->
    <section class="view intro-1 hm-black-strong">
        <div class="full-bg-img flex-center">
            <div class="container">
                <ul>
                    <li>
                        <div id="welcome" class="welcome">
                            <div class="heading">
                                <div class="logo logo-white-background">
                                    <a href="#"><img itemprop="logo" src="assets/img/logo.png" alt="logo"></a>
                                </div>
                                <p class="lead mt-4 mb-5 wow fadeInDown welcome-main">Bine ati venit</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</header>