<div id="info" class="info">
    <div class="divider-new pt-5">
        <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Informatii utile</h2>
    </div>
    <!-- Nav tabs -->
    <div class="tabs-wrapper">
        <ul class="nav classic-tabs tabs-cyan center" role="tablist">
            <li class="nav-item">
                <a class="nav-link waves-light active" data-toggle="tab" href="#panel51" role="tab"><h6 class="nav-items-info"><span class="badge red">Este necesară cadastrarea / întabularea terenului?</span></h6></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" data-toggle="tab" href="#panel52" role="tab"><h6 class="nav-items-info"><span class="badge cyan">Modificarea sau înscrierea adresei poștale în Cartea Funciară</span></h6></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" data-toggle="tab" href="#panel53" role="tab"><h6 class="nav-items-info"><span class="badge amber">Cum obțin un extras de carte funciară?</span></h6></a>
            </li>
        </ul>
    </div>

    <!-- Tab panels -->
    <div class="tab-content card">

        <!--Panel 1-->
        <div class="tab-pane fade in show active" id="panel51" role="tabpanel">
            <ul class="list-group text-ali">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - cadastrarea terenului asigură siguranța tranzacțiilor imobiliare
                    <span class="badge badge-primary badge-pill red">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - întabularea este necesară pentru înstrăinarea imobilului ( vânzare,
                    donație,
                    moștenire), deoarece oferă garanția dreptului de proprietate a imobilului
                    <span class="badge badge-primary badge-pill red">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - întabularea are ca scop înscrierea în Cartea Funciară a unei proprietăți în baza
                                    actelor de proprietate (Titlu de Proprietate, Certificat de moștenitor..etc)
                    și a
                    unei documentații cadastrale avizate de oficiul de cadastru
                    <span class="badge badge-primary badge-pill red">3</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - prin cadastrarea terenului se pot elimina anumite probleme pe care
                    proprietarul
                    poate nu le cunoaște, cum ar fi: suprafața din acte nu coincide cu suprafața
                    măsurată; suprapuneri cu proprietățile vecine, care au deja lucrare cadastrală
                    realizată și avizată de Oficiul de Cadastru
                    <span class="badge badge-primary badge-pill red">4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - rolul cadastrului este de a furniza informații obiective: poziție,
                    suprafață,
                    folosință, proprietar, cu privire la imobil
                    <span class="badge badge-primary badge-pill red" >5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - cadastrul și întabularea nu se pot realiza separat, documentațiile cadastrale se
                    înscriu automat în Cartea Funciară
                    <span class="badge badge-primary badge-pill red" >6</span>
                </li>
            </ul>
        </div>
        <!--/.Panel 1-->

        <!--Panel 2-->
        <div class="tab-pane fade" id="panel52" role="tabpanel">
            <ul class="list-group text-ali">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - modificarea sau înscrierea în Cartea Funciară a adresei poștale se
                    realizeaza în
                    baza unui act administrativ (adeverință) emisă de Primărie
                    <span class="badge badge-primary badge-pill cyan">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - dacă adresa poștală este înscrisă în Cartea Funciară și solicităm
                    doar modificarea
                    acestei, atunci proprietarul poate solicita la Biroul de Carte Funciară modificarea
                    adresei poștale în baza actului administrativ emis de Primărie
                    <span class="badge badge-primary badge-pill cyan">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - dacă adresa poștală nu este înscrisă în Cartea Funciară, este
                    necesară întocmirea
                    unei documentații cadastrale de către o persoana autorizată de ANCPI
                    <span class="badge badge-primary badge-pill cyan">3</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - documentația cadastrală se va întocmi în baza actului administrativ emis de
                    Primărie și va avea ca scop înscrierea adresei poștale în CF
                    <span class="badge badge-primary badge-pill cyan">4</span>
                </li>
            </ul>
        </div>
        <!--/.Panel 2-->

        <!--Panel 3-->
        <div class="tab-pane fade" id="panel53" role="tabpanel">
            <ul class="list-group text-ali">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - pentru a putea solicita un extras de carte funciară trebuie neapărat să cunoștem
                    numărul de carte funciară și numărul cadastral sau topografic al imobilului
                    <span class="badge badge-primary badge-pill amber">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - numărul de carte funciară și numărul cadastral sau topografic al imobilului se
                    poate obține dintr-un extras mai vechi sau din arhiva Biroului de Carte Funciară
                    <span class="badge badge-primary badge-pill amber">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - extrasul de carte funciară poate fi solicitat de oricine cunoaște datele de carte
                    funciară (numărul carte funciară și numărul cadastral sau topografic al imobilului),
                    indiferent dacă este sa nu proprietar
                    <span class="badge badge-primary badge-pill amber">3</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - extrasul de carte funciara se poate solicita online - ePayment ANCPI sau prin
                    depunerea unei cereri tip la OCPI CLUJ / BCPI CLUJ-NAPOCA
                    <span class="badge badge-primary badge-pill amber">4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - OCPI CLUJ - OFICIUL DE CADSTRU ȘI PUBLICITATE IMOBILIARĂ CLUJ are sediul pe str.
                    Alexandra Vaida Voievod, nr. 53 (lângă Iulius Mall), tel. 0264-431666
                    <span class="badge badge-primary badge-pill amber">5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - BCPI CLUJ-NAPOCA - BIROUL DE CADASTRU ȘI PUBLICITATE IMOBILIARĂ CLUJ-NAPOCA are
                    sediul în Piața Gării, nr. 5 (vis-a-vis cu gara Cluj-Napoca), tel. 0264-431032;
                    <span class="badge badge-primary badge-pill amber">6</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - cererile se pot depune în intervalul orar 8.30 - 14.00, iar ridicarea extrasului
                    de carte funciară se poate efectua între orele 11.00 - 16.00;
                    <span class="badge badge-primary badge-pill amber">7</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    - ridicarea extrasului de carte funciară se poate realiza doar de la BCPI
                    Cluj-Napoca;
                    <span class="badge badge-primary badge-pill amber">8</span>
                </li>
            </ul>
        </div>
        <!--/.Panel 3-->
    </div>
</div>