<div id="external-links" class="links-section">
    <div class="divider-new pt-5">
        <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Link-uri utile</h2>
    </div>
    <div class="row">
        <div class="col mb-r">
            <!--Card Regular-->
            <div class="card card-cascade">
                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <a href="http://www.ocpicluj.ro/" target="_blank">
                        <h4 class="card-title"><strong>OCPI Cluj</strong></h4>
                    </a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card Regular-->
        </div>
        <div class="col mb-r">
            <!--Card Regular-->
            <div class="card card-cascade">
                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <a href="http://www.primariaclujnapoca.ro/" target="_blank">
                        <h4 class="card-title"><strong>Primaria Cluj</strong></h4>
                    </a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card Regular-->
        </div>
        <div class="col mb-r">
            <!--Card Regular-->
            <div class="card card-cascade">
                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <a href="http://www.primaria-baciu.ro/" target="_blank">
                        <h4 class="card-title"><strong>Primaria Baciu</strong></h4>
                    </a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card Regular-->
        </div>
    </div>

    <div class="row">
        <div class="col mb-r">
            <!--Card Regular-->
            <div class="card card-cascade">
                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <a href="http://www.comunafeleacu.ro/" target="_blank">
                        <h4 class="card-title"><strong>Primaria Feleacu</strong></h4>
                    </a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card Regular-->
        </div>
        <div class="col mb-r">
            <!--Card Regular-->
            <div class="card card-cascade">
                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <a href="http://www.primariachinteni.ro/" target="_blank">
                        <h4 class="card-title"><strong>Primaria Chinteni</strong></h4>
                    </a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card Regular-->
        </div>
        <div class="col mb-r">
            <!--Card Regular-->
            <div class="card card-cascade">
                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <a href="http://epay.ancpi.ro/epay/Welcome.action" target="_blank">
                        <h4 class="card-title"><strong>ANCPI</strong></h4>
                    </a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card Regular-->
        </div>
    </div>
</div>