<div id="prices" class="prices">
    <div class="divider-new pt-5">
        <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Preturi Servicii</h2>
    </div>

    <!--Section: Products v.5-->
    <section class="section pb-3">
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Controls-->
            <div class="controls-top text-center" style="margin-top: 50px;">
                <a class="btn-floating primary-color no-background" href="#multi-item-example" data-slide="prev"><i class="fa fa-caret-square-o-left fa-2x" aria-hidden="true"></i></a>
                <a class="btn-floating primary-color no-background" href="#multi-item-example" data-slide="next"><i class="fa fa-caret-square-o-right fa-2x" aria-hidden="true"></i></a>
            </div>
            <!--Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li class="primary-color" data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li class="primary-color" data-target="#multi-item-example" data-slide-to="1"></li>
                <li class="primary-color" data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">

                    <div class="col-md-4">

                        <!--Card-->
                        <div class="card card-cascade narrower">
                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <!--Category & Title-->
                                <h4 class="card-title"><strong><a href="">Alte operațiuni cadastrale</a></strong></h4>

                                <!--Description-->
                                <p class="card-text text-left">
                                    - Documentație tehnică pentru obținerea certificatului de urbanism - <span
                                        class="badge cyan">500 lei</span> + taxe <br>
                                    - Documentație tehnică pentru obținere adeverință adresă poștală - <span
                                        class="badge red darken-3">300 lei</span> + taxe <br>
                                    - Plan de amplasament și delimitare a imobilului - <span class="badge red darken-1">250 lei</span>
                                    lei <br>
                                    - Întocmire relevee pentru case și apartamente - <span class="badge light-green">5 lei/mp</span>
                                    <br>
                                    - Identificarea proprietătii pe hărti, planuri din arhiva cărții funciare - <span
                                        class="badge red darken-2">300 lei</span> +
                                    <a target="_blank"
                                       href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                        OCPI</a>
                                    <br>
                                    - Obținere extras de carte funciara de informare - <span
                                        class="badge red">100 lei</span> + <a target="_blank"
                                                                              href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                    OCPI</a> <br>
                                    - Extras din planul cadastral suprapus pe ortofotoplan - <span class="badge red">100 lei</span>
                                    + <a target="_blank"
                                         href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                    OCPI</a>
                                </p>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">

                        <!--Card-->
                        <div class="card card-cascade narrower">
                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted"><h5>Prima intabulare</h5></a>
                                <h4 class="card-title"><strong><a href="">Întabulare a unui imobil în Cartea
                                    Funciară</a></strong></h4>

                                <!--Description-->
                                <p class="card-text">
                                    - Întabulare imobil situat în extravilan - <span class="badge amber darken-2">1000 lei</span>
                                    + <a target="_blank"
                                         href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                    OCPI</a> <br>
                                    - Întabulare imobil situat în intravilan - <span class="badge amber darken-2">1000 lei</span>
                                    + <a target="_blank"
                                         href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                    OCPI</a> <br>
                                    - Înscrierea sentințelor civile în Cartea Funciară - <span
                                        class="badge amber darken-2">1000 lei</span> + <a target="_blank"
                                                                                          href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                    OCPI</a> <br>
                                    * în funcție de complexitatea SENTINȚEI CIVILE prețul afișat se poate modifica
                                </p>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <!--Card-->
                        <div class="card card-cascade narrower">
                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted"><h5>Actualizare date imobil</h5></a>
                                <h4 class="card-title"><strong><a href="">Teren, construcție & apartament</a></strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">
                                    - Atribuire număr cadastral - <span class="badge purple darken-2">800 lei</span> +
                                    <a target="_blank"
                                       href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                        OCPI</a> <br>
                                    - Rectificarea suprafeței, limitelor imobilului - <span
                                        class="badge purple darken-3">900 lei</span> + <a target="_blank"
                                                                                          href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                    OCPI</a> <br>
                                    - Repoziționare imobil - <span class="badge purple darken-3">900 lei</span> + <a
                                        target="_blank"
                                        href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                    OCPI</a> <br>
                                    - Actualizare informații tehnice (schimbarea destinației imobilului / înscrierea
                                    adresei
                                    administrative / actualizarea categoriei de folosință a imobilului) - <span
                                        class="badge purple darken-2">800 lei</span> + taxe
                                    OCPI
                                </p>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>

                </div>
                <!--First slide-->

                <!--Second slide-->
                <div class="carousel-item">

                    <div class="col-md-4">
                        <!--Card-->
                        <div class="card card-cascade narrower">
                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <!--Category & Title-->
                                <h4 class="card-title"><strong><a href="">Înscrierea / extinderea / radierea unei
                                    construcții - <span
                                            class="badge purple darken-3">900 lei</span> + <a target="_blank"
                                                                                              href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                        OCPI</a></a></strong></h4>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <!--Card-->
                        <div class="card card-cascade narrower">
                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <!--Category & Title-->
                                <h4 class="card-title"><strong><a href="">Dezmembrarea / alipirea imobilelor -
                                    <span class="badge indigo darken-2">400/parcelă</span> + <a target="_blank"
                                                                                                href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                        OCPI</a></a></strong></h4>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <!--Card-->
                        <div class="card card-cascade narrower">
                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <!--Category & Title-->
                                <h4 class="card-title"><strong><a href="">Trasare puncte limite de proprietate - <span
                                        class="badge light-green darken-2">50 lei/punct</span></a></strong></h4>
                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->
                    </div>

                </div>
                <!--Second slide-->

                <!--Third slide-->
                <div class="carousel-item">

                    <div class="col-md-4">

                        <!--Card-->
                        <div class="card card-cascade narrower">
                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <!--Category & Title-->
                                <h4 class="card-title"><strong><a href="">Ridicări topografice</a></strong></h4>

                                <!--Description-->
                                <p class="card-text">
                                    - Măsurători (verificare suprafata, documentatie cadastrala,etc) - <span
                                        class="badge cyan">500 lei</span> <br>
                                    - Plan topografic pentru întocmirea documentației autorizației de construire - <span
                                        class="badge amber darken-2">1000 lei</span>
                                    + <a target="_blank"
                                         href="https://docs.google.com/spreadsheets/d/1-MXErc7kFfZDGFGoTbva8AWob3eTA6TK-Rkb1VuOI0c/pubhtml?gid=865302166&single=true">taxe
                                    OCPI</a>
                                </p>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>

                </div>
                <!--Third slide-->

            </div>
            <!--Slides-->

        </div>
        <!--Carousel Wrapper-->

    </section>
    <!--Section: Products v.5-->
</div>