<div id="services" class="services">
    <div class="divider-new pt-5">
        <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Servicii</h2>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-r">
            <!-- Card -->
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>

                        <h3 class="card-title pt-2"><strong>Ridicari Topografice</strong></h3>
                        <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                        <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                            PUD,
                            PUZ, sau a Certificatului de Urbanism</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-6 mb-r">
            <!-- Card -->
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>

                        <h3 class="card-title pt-2"><strong>Prima înscriere / întabulare a unui imobil în Cartea Funciară</strong></h3>
                        <p>- întabulare imobil situat în extravilan,</p>
                        <p>- întabulare imobil situat în intravilan (teren, construcție, apartament)</p>
                        <p>- înscrierea sentințelor civile în Cartea Funciară</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-r">
            <!-- Card -->
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div class="center">
                        <h3 class="card-title pt-2"><strong>Carte Funciară</strong></h3>
                        <p>- identificarea proprietătii pe hărti, planuri din arhiva cărții funciare</p>
                        <p>- obținerea extrasului de carte funciară pentru informare</p>
                        <p>- obținerea extrasului din planul cadastral de carte funciară</p>
                        <p>- verificări ale înscrierilor din cartea funciară</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-6 mb-r">
            <!-- Card -->
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>

                        <h3 class="card-title pt-2"><strong>Dezmembrare/dezlipire/parcelare imobil ( situat în intravilan/extravilan)</strong></h3>
                        <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                        <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                            PUD,
                            PUZ, sau a Certificatului de Urbanism</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-r">
            <!-- Card -->
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>

                        <h3 class="card-title pt-2"><strong>Comasare/alipire imobile (situate in intravilan/extravilan)</strong></h3>
                        <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                        <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                            PUD,
                            PUZ, sau a Certificatului de Urbanism</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-6 mb-r">
            <!-- Card -->
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>

                        <h3 class="card-title pt-2"><strong>Apartamentare construcții (blocuri, duplexuri, etc)</strong></h3>
                        <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                        <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                            PUD,
                            PUZ, sau a Certificatului de Urbanism</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-r">
            <!-- Card -->
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>

                        <h3 class="card-title pt-2"><strong>Reapartamentare unitate individuală</strong></h3>
                        <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                        <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                            PUD,
                            PUZ, sau a Certificatului de Urbanism</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-6 mb-r">
            <!-- Card -->
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>

                        <h3 class="card-title pt-2"><strong>Întocmire relevee constructii (apartament, casa, etc)</strong></h3>
                        <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                        <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                            PUD,
                            PUZ, sau a Certificatului de Urbanism</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-r">
            <!-- Card -->
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>

                        <h3 class="card-title pt-2"><strong>Expertize tehnice extrajudiciare</strong></h3>
                        <p>- măsurători necesare întocmirii documențaților cadastrale</p>
                        <p>- măsurători necesare întocmirii planurilor de situație în vederea obținerii: PAC,
                            PUD,
                            PUZ, sau a Certificatului de Urbanism</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-6 mb-r">
            <!-- Card -->
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div class="center">
                        <h3 class="card-title pt-2"><strong>Trasare</strong></h3>
                        <p>- limită de proprietate/puncte de contur (țărușare, bornare)</p>
                        <p>- axe construcție, contur construcție, cota zero, etc</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg">

            <!-- Card -->
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div class="center">
                        <h3 class="card-title pt-2"><strong>Actualizare date imobil (teren, construcție, apartament)</strong></h3>
                        <p>- atribuire număr cadastral</p>
                        <p>- rectificarea suprafeței, limitelor și actualizarea datelor tehnice / juridice în
                            Cartea
                            Funciară</p>
                        <p>- repoziționare imobil</p>
                        <p>- schimbarea destinației imobilului pentru orice teren/construcție</p>
                        <p>- înscrierea adresei administrative în Cartea Funciară</p>
                        <p>- actualizarea categoriei de folosință a imobilului</p>
                        <p>- înscrierea unei / sau mai multor construcții definitive, provizorii, parțiale în
                            Cartea
                            Funciară</p>
                        <p>- înscrierea extinderii unei construcții in Cartea Funciară</p>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>
    </div>
</div>