<div id="welcome" class="welcome">
    <div class="heading">
        <div class="logo logo-white-background">
            <a href="#"><img itemprop="logo" src="assets/img/logo.png" alt="logo"></a>
        </div>
        <p class="lead mt-4 mb-5 wow fadeInDown">Bine ati venit</p>
    </div>
</div>