html {
  font-family: 'Raleway', sans-serif;
}
h1 {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
p {
  text-align: justify;
}
a {
  text-decoration: none;
  color: #000;
}
.content {
  width: 100%;
  height: 200%;
  background-color: #F6F6F6;
  min-width: 1300px;
}
.content .logo {
  background-image: url(/assets/img/logo.png);
  width: 100%;
  /* height: 100px; */
  position: relative;
  top: 0;
  left: 0;
  z-index: 9999;
}
.content .logo img {
  width: 150px;
  max-width: 100%;
  /* height: 100px; */
  display: inline-block;
  border-bottom: 2px solid black;
}
.content .header {
  width: 100%;
  height: 25px;
  background-color: #297BA1;
  padding-top: 50px;
}
.content .header .nav {
  margin: 0;
  position: relative;
  top: 0;
}
.content .header .nav .navigation-list {
  position: relative;
  width: 60%;
  min-width: 1125px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content .header .nav .navigation-list li {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  font-weight: bold;
  text-align: center;
  position: inherit;
  z-index: 1000;
  text-transform: uppercase;
  float: left;
  width: 20%;
}
.content .header .nav .navigation-list li span {
  color: #ffffff;
}
.content .welcome {
  background: #297BA1;
  width: 100%;
  position: relative;
  padding: 150px 0;
}
.content .welcome .logo img {
  width: 270px;
  border-bottom: 2px solid #FFFFFF;
}
.content .welcome .heading {
  height: 20%;
  width: 35%;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
.content .welcome .heading h1 {
  font-size: 45px;
  color: #00FF9C;
}
.content .about-us {
  background: #F6F6F6;
  padding: 125px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content .about-us .author-info,
.content .about-us .author-description {
  height: 100%;
  position: relative;
}
.content .about-us .author-info {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  font-size: 25px;
  font-style: italic;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.content .about-us .author-info .author-info-container {
  margin: 0;
  text-align: center;
}
.content .about-us .author-info .author-info-container p {
  text-align: center;
}
.content .about-us .author-info .author-info-container .author-img {
  width: 177px;
  height: 177px;
  border-radius: 50%;
}
.content .about-us .author-description {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  font-size: 30px;
}
.content .about-us .author-description .author-description-container {
  padding-right: 50px;
  margin: 0;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 17px;
  width: 70%;
}
.content .about-us .author-description .author-description-container p {
  text-align: justify;
}
.content .about-us .author-description .author-description-container ul {
  list-style-type: disc;
  padding-left: 20px;
}
.content .about-us .author-description .author-description-container span {
  text-transform: uppercase;
}
.content .about-company {
  background: #666666;
  color: #ffffff;
  width: 100%;
  position: relative;
  padding: 50px 0;
}
.content .about-company .about-company-container {
  position: relative;
  width: 75%;
  margin: 0 auto;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}
.content .about-company .about-company-container p {
  font-size: 15px;
}
.content .about-company .about-company-container .papers-container {
  width: 100%;
  font-style: normal;
  text-align: left;
  color: #000000;
}
.content .about-company .about-company-container .papers-container .papers-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.content .about-company .about-company-container .papers-container .papers-list li {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding: 0 15px;
  margin: 5px;
  background-color: #FFFFFF;
  border: .5px solid lightgray;
  border-bottom: 3px solid #000000;
}
.content .about-company .about-company-container .papers-container .papers-list li p {
  font-size: 13px;
  color: #7b7b7b;
  font-weight: bold;
}
.content .about-company .about-company-container .papers-container .papers-list li h3 {
  font-size: 16px;
  font-weight: bold;
}
.content .services {
  background: #297BA1;
  position: relative;
}
.content .services .logo img {
  border-bottom: 2px solid #FFFFFF;
}
.content .services .services-container {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.content .services .services-container h2 {
  color: #FFFFFF;
}
.content .services .services-container .services-tiles {
  width: 100%;
}
.content .services .services-container .services-tiles .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.content .services .services-container .services-tiles .services-list li {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  margin: 0 15px 15px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.61);
  overflow: hidden;
  background-color: #FFFFFF;
}
.content .services .services-container .services-tiles .services-list li .modal-view {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 12.5%;
  z-index: 99999;
}
.content .services .services-container .services-tiles .services-list li .modal-view .service-text {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.content .services .services-container .services-tiles .services-list li .modal-view .service-text p {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
.content .services .services-container .services-tiles .services-list li:hover {
  cursor: pointer;
}
.content .prices {
  background: #FFFFFF;
  text-align: center;
  padding: 15px 0;
  position: relative;
}
.content .prices p {
  color: #639FBB;
  font-weight: bold;
  font-size: 13px;
}
.content .prices .prices-container {
  width: 60%;
  margin: 0 auto;
}
.content .prices .prices-container h2 {
  color: #297BA1;
}
.content .prices .prices-container .price-container {
  width: 100%;
  font-style: normal;
  text-align: left;
  color: #000000;
}
.content .prices .prices-container .price-container .price-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.content .prices .prices-container .price-container li {
  -ms-flex-preferred-size: 44%;
  flex-basis: 44%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding: 0 15px;
  margin: 5px;
  background-color: #FFFFFF;
  border: .5px solid lightgray;
  border-bottom: 3px solid #297BA1;
}
.content .prices .prices-container .price-container li p {
  font-size: 13px;
  color: #7b7b7b;
  font-weight: bold;
}
.content .prices .prices-container .price-container li h3 {
  font-size: 16px;
  font-weight: bold;
}
.content .prices .prices-container a {
  color: #297BA1;
}
.content .info {
  background-color: #297BA1;
  text-align: center;
  padding: 50px 0;
  color: #ffffff;
}
.content .info .info-container {
  width: 60%;
  margin: 0 auto;
}
.content .info .info-container h2 {
  padding: 0;
  margin: 0;
  color: #00FF9C;
}
.content .info .info-list {
  position: relative;
  text-align: left;
}
.content .info .info-list .info-item {
  width: 100%;
  overflow: hidden;
}
.content .info .info-list .info-item:hover {
  cursor: pointer;
}
.content .info .info-list .info-item .info-header {
  line-height: 45px;
  font-size: 20px;
  position: relative;
  margin-bottom: 3px;
}
.content .info .info-list .info-item .info-header .info-index,
.content .info .info-list .info-item .info-header .info-question {
  display: inline-block;
  height: 45px;
}
.content .info .info-list .info-item .info-header .info-index {
  text-align: center;
  background-color: #00FF9C;
  width: 45px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.content .info .info-list .info-item .info-header .info-question {
  position: absolute;
  top: 0;
  left: 45px;
  width: 100%;
  background-color: #ffffff;
  color: #297BA1;
  padding-left: 6px;
}
.content .info .info-list .info-item .info-body {
  display: none;
}
.content .info .info-list .info-item .info-body span {
  font-weight: bold;
}
.content .links-section {
  text-align: center;
  padding: 50px 0;
  background-color: #333333;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.content .links-section h2 {
  margin-top: 0;
  font-size: 35px;
}
.content .links-section .links {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}
.content .links-section .links .external-link {
  -ms-flex-preferred-size: 30%;
  flex-basis: 25%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding: 10px 15px;
  margin: 5px;
  background-color: #FFFFFF;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid #297ba1;
}
.content .links-section .links .external-link img {
  width: 170px;
}
.content .links-section .links .external-link h3 {
  text-transform: uppercase;
  color: #fb8a1b;
  font-size: 25px;
  margin: 0;
}
.content .contact {
  padding: 15px 0;
  text-align: center;
  background: #333333;
  color: #00FF9C;
  position: relative;
}
.content .contact h2 {
  text-transform: uppercase;
  font-size: 35px;
}
.content .contact .logo img {
  width: 200px;
  border-bottom: 2px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}
.content .contact .contact-container {
  width: 100%;
  margin: 0 auto;
}
.content .contact .contact-container .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 950px;
}
.content .contact .contact-container .contact-info .contact-item {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}
.content .contact .contact-container .contact-info .contact-item .contact-icon {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 50%;
  font-size: 50px;
  line-height: 100px;
  color: #333333;
}
.content .contact .contact-container .contact-info .contact-item h3 {
  color: #00FF9C;
  font-size: 25px;
}
.content .contact .map-container {
  width: 70%;
  margin: 0 auto;
  background: #ffffff;
  height: 400px;
}
.content .footer {
  height: 150px;
  background: #2C2C2C;
  color: #4C4C4C;
  font-weight: bold;
}
.content .footer .footer-container {
  width: 60%;
  margin: 0 auto;
}
.content .footer .footer-container p {
  padding: 0;
  margin: 0;
  line-height: 150px;
}
.content .call-now {
  position: fixed;
  right: 50px;
  bottom: 10%;
  width: 70px;
  height: 70px;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 11%;
}
.content .call-now .fa-phone {
  font-size: 70px;
  color: #00b971;
}
.content .active a span {
  color: #000 !important;
}
.content .active:after {
  content: '';
  height: 80px;
  width: 92%;
  display: block;
  position: absolute;
  left: 8%;
  top: -55px;
  background: #00FF9C;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  z-index: -1;
}
.content .current {
  display: block !important;
}
.content .clear {
  clear: both;
  display: block;
}
