html {
    font-family: 'Raleway', sans-serif;
}

h1 {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: #000;
}

.content {
    width: 100%;
    height: 200%;
    background-color: #F6F6F6;
    min-width: 1300px;

    .logo {
        background-image: url(/assets/img/logo.png);
        width: 100%;
        /* height: 100px; */
        position: relative;
        top: 0;
        left: 0;
        z-index: 9999;
        img {
            width: 150px;
            max-width: 100%;
            /* height: 100px; */
            display: inline-block;
            border-bottom: 2px solid black;
        }
    }

    .header {
        width: 100%;
        height: 25px;
        background-color: #297BA1;

        padding-top: 50px;

        .nav {
            margin: 0;
            position: relative;
            top: 0;
            .navigation-list {
                position: relative;
                width: 60%;
                min-width: 1125px;
                margin: 0 auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                li {
                    -ms-flex-preferred-size: 30%;
                    flex-basis: 30%;
                    font-weight: bold;
                    text-align: center;
                    position: inherit;
                    z-index: 1000;
                    text-transform: uppercase;
                    float: left;
                    width: 20%;
                    span {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .welcome {
        background: #297BA1;
        width: 100%;
        position: relative;
        padding: 150px 0;

        .logo {
            img {
                width: 270px;
                border-bottom: 2px solid #FFFFFF;
            }
        }

        .heading {
            height: 20%;
            width: 35%;
            margin: auto;
            position: relative;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;

            h1 {
                font-size: 45px;
                color: #00FF9C;
            }
        }
    }

    .about-us {
        background: #F6F6F6;
        padding: 125px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .author-info, .author-description {
            height: 100%;
            position: relative;
        }

        .author-info {
            -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
            font-size: 25px;
            font-style: italic;
            -ms-flex-line-pack: center;
            align-content: center;
            -ms-flex-item-align: center;
            align-self: center;
            .author-info-container {
                margin: 0;
                text-align: center;

                p {
                    text-align: center;
                }
                .author-img {
                    width: 177px;
                    height: 177px;
                    border-radius: 50%;
                }
            }
        }

        .author-description {
            -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
            font-size: 30px;

            .author-description-container {
                padding-right: 50px;
                margin: 0;
                -ms-flex-line-pack: center;
                align-content: center;
                -ms-flex-item-align: center;
                align-self: center;
                font-size: 17px;
                width: 70%;

                p {
                    text-align: justify;
                }

                ul {
                    list-style-type: disc;
                    padding-left: 20px;
                }

                span {
                    text-transform: uppercase;
                }
            }
        }
    }

    .about-company {
        background: #666666;
        color: #ffffff;
        width: 100%;
        position: relative;
        padding: 50px 0;

        .about-company-container {
            position: relative;
            width: 75%;
            margin: 0 auto;

            font-size: 30px;
            font-style: italic;
            text-align: center;

            p {
                font-size: 15px;
            }
            .papers-container {
                width: 100%;
                font-style: normal;
                text-align: left;
                color: #000000;

                .papers-list {
                    position: relative;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;

                    li {
                        -ms-flex-preferred-size: 30%;
                        flex-basis: 30%;
                        -webkit-box-flex: 0;
                        -ms-flex-positive: 0;
                        flex-grow: 0;
                        padding: 0 15px;
                        margin: 5px;
                        background-color: #FFFFFF;
                        border: .5px solid lightgray;
                        border-bottom: 3px solid #000000;
                        p {
                            font-size: 13px;
                            color: #7b7b7b;
                            font-weight: bold;
                        }
                        h3 {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .services {
        background: #297BA1;
        position: relative;

        .logo {
            img {
                border-bottom: 2px solid #FFFFFF;
            }
        }

        .services-container {
            width: 75%;
            margin: 0 auto;
            padding: 50px 0;
            text-align: center;

            h2 {
                color: #FFFFFF;
            }

            .services-tiles {
                width: 100%;

                .services-list {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    li {
                        -ms-flex-preferred-size: 30%;
                        flex-basis: 30%;
                        -webkit-box-flex: 0;
                        -ms-flex-positive: 0;
                        flex-grow: 0;
                        -ms-flex-negative: 1;
                        flex-shrink: 1;
                        margin: 0 15px 15px 0;
                        border-radius: 5px;
                        -webkit-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.61);
                        box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.61);
                        overflow: hidden;
                        background-color: #FFFFFF;

                        .modal-view {
                            display: none;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 75%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.80);
                            padding: 0 12.5%;
                            z-index: 99999;

                            .service-image {

                            }

                            .service-text {
                                position: absolute;
                                width: 50%;
                                height: 50%;
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                margin: auto;

                                p {
                                    color: #FFFFFF;
                                    font-size: 16px;
                                    font-weight: bold;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }

                    li:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .prices {
        background: #FFFFFF;
        text-align: center;
        padding: 15px 0;
        position: relative;

        p {
            color: #639FBB;
            font-weight: bold;
            font-size: 13px;
        }

        .prices-container {
            width: 60%;
            margin: 0 auto;
            h2 {
                color: #297BA1;
            }

            .price-container {
                width: 100%;
                font-style: normal;
                text-align: left;
                color: #000000;

                .price-list {
                    position: relative;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                }

                li {
                    -ms-flex-preferred-size: 44%;
                    flex-basis: 44%;
                    -webkit-box-flex: 0;
                    -ms-flex-positive: 0;
                    flex-grow: 0;
                    padding: 0 15px;
                    margin: 5px;
                    background-color: #FFFFFF;
                    border: .5px solid lightgray;
                    border-bottom: 3px solid #297BA1;
                    p {
                        font-size: 13px;
                        color: #7b7b7b;
                        font-weight: bold;
                    }
                    h3 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                }
            }

            a {
                color: #297BA1;
            }
        }
    }

    .info {
        background-color: #297BA1;
        text-align: center;
        padding: 50px 0;
        color: #ffffff;
        .info-container {
            width: 60%;
            margin: 0 auto;

            h2 {
                padding: 0;
                margin: 0;
                color: #00FF9C;
            }
        }

        .info-list {
            position: relative;
            text-align: left;
            .info-item {
                width: 100%;
                overflow: hidden;

                &:hover {
                    cursor: pointer;
                }

                .info-header {
                    line-height: 45px;
                    font-size: 20px;
                    position: relative;
                    margin-bottom: 3px;

                    .info-index, .info-question {
                        display: inline-block;
                        height: 45px;
                    }

                    .info-index {
                        text-align: center;
                        background-color: #00FF9C;
                        width: 45px;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }

                    .info-question {
                        position: absolute;
                        top: 0;
                        left: 45px;
                        width: 100%;
                        background-color: #ffffff;
                        color: #297BA1;
                        padding-left: 6px;
                    }
                }

                .info-body {
                    display: none;

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .links-section {
        text-align: center;
        padding: 50px 0;
        background-color: #333333;
        color: #FFFFFF;
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;


        h2 {
            margin-top: 0;
            font-size: 35px;
        }
        .links {
            position: relative;
            width: 80%;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            flex-wrap: wrap;
            .external-link {
                -ms-flex-preferred-size: 30%;
                flex-basis: 25%;
                -webkit-box-flex: 0;
                -ms-flex-positive: 0;
                flex-grow: 0;
                padding: 10px 15px;
                margin: 5px;
                background-color: #FFFFFF;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.1);
                border-bottom: 2px solid #297ba1;

                img {
                    width: 170px;
                }

                h3 {
                    text-transform: uppercase;
                    color: #fb8a1b;
                    font-size: 25px;
                    margin: 0;
                }
            }
        }
    }

    .contact {
        padding: 15px 0;
        text-align: center;
        background: #333333;
        color: #00FF9C;
        position: relative;
        h2 {
            text-transform: uppercase;
            font-size: 35px;
        }

        .logo {
            img {
                width: 200px;
                border-bottom: 2px solid #FFFFFF;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }

        .contact-container {
            width: 100%;
            margin: 0 auto;

            .contact-info {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                min-width: 950px;
                .contact-item {
                    -ms-flex-preferred-size: 25%;
                    flex-basis: 25%;
                    .contact-icon {
                        height: 100px;
                        width: 100px;
                        margin: 0 auto;
                        background: #ffffff;
                        border-radius: 50%;
                        font-size: 50px;
                        line-height: 100px;
                        color: #333333;
                    }
                    h3 {
                        color: #00FF9C;
                        font-size: 25px;
                    }
                }
            }
        }

        .map-container {
            width: 70%;
            margin: 0 auto;
            background: #ffffff;
            height: 400px;
        }
    }

    .footer {
        height: 150px;
        background: #2C2C2C;
        color: #4C4C4C;
        font-weight: bold;

        .footer-container {
            width: 60%;
            margin: 0 auto;

            p {
                padding: 0;
                margin: 0;
                line-height: 150px;
            }
        }
    }

    .call-now {
        position: fixed;
        right: 50px;
        bottom: 10%;
        width: 70px;
        height: 70px;
        background-color: #FFFFFF;
        text-align: center;
        border-radius: 11%;
        .fa-phone {
            font-size: 70px;
            color: #00b971;
        }
    }

    .active {
        a span {
            color: #000 !important;
        }

        &:after {
            content: '';
            height: 80px;
            width: 92%;
            display: block;
            position: absolute;
            left: 8%;
            top: -55px;
            background: #00FF9C;
            -webkit-transform: skew(-10deg);
            -moz-transform: skew(-10deg);
            -o-transform: skew(-10deg);
            z-index: -1;
        }
    }

    .current {
        display: block !important;
    }

    .clear {
        clear: both;
        display: block;
    }
}
