/*Custom Material Styles*/
.content {
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;

    .logo {
        background-image: url(/assets/img/logo.png);
        width: 100%;
        /* height: 100px; */
        position: relative;
        top: 0;
        left: 0;

        img {
            width: 150px;
            max-width: 100%;
            display: inline-block;
            border-bottom: 2px solid black;
        }

        &.logo-white-background {
            img {
                width: 225px;
                background-color: white;
                border-bottom: 2px solid #434343;
                border-radius: 2px;
            }
        }
    }

    .header {
        .welcome-main {
            font-size: 3em;
            text-transform: uppercase;
        }

    }

    .about-us {
        .author-description {
            .author-description-container {
                font-size: 1.2rem;;
            }
        }
    }

    .prices {
        .carousel {
            height: 500px;

            .carousel-inner {
                position: relative;
                height: 100%;

                .carousel-item {
                    margin: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }

    .info{
        .nav-items-info{
            .badge{
                height: 40px;
                line-height: 35px;
            }
        }
    }

    .links-section {
        .card {
            background: #4c4c4c;
            a {
                color: white;
            }
        }
    }

    .contact {
        .map-container {
            height: 100%;
        }
    }

    .footer {
        padding: 25px 0 ;
        background: #212121;
    }

    .call-now {
        position: fixed;
        right: 50px;
        bottom: 10%;
        width: 70px;
        height: 70px;
        background-color: #FFFFFF;
        text-align: center;
        border-radius: 11%;
        .fa-phone {
            font-size: 70px;
            color: #00b971;
        }
    }

    .no-background {
        background: none !important;
    }

    .center {
        margin: 0 auto;
    }
}

