/*Custom Material Styles*/
.content {
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
}
.content .logo {
  background-image: url(/assets/img/logo.png);
  width: 100%;
  /* height: 100px; */
  position: relative;
  top: 0;
  left: 0;
}
.content .logo img {
  width: 150px;
  max-width: 100%;
  display: inline-block;
  border-bottom: 2px solid black;
}
.content .logo.logo-white-background img {
  width: 225px;
  background-color: white;
  border-bottom: 2px solid #434343;
  border-radius: 2px;
}
.content .header .welcome-main {
  font-size: 3em;
  text-transform: uppercase;
}
.content .about-us .author-description .author-description-container {
  font-size: 1.2rem;
}
.content .prices .carousel {
  height: 500px;
}
.content .prices .carousel .carousel-inner {
  position: relative;
  height: 100%;
}
.content .prices .carousel .carousel-inner .carousel-item {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.content .info .nav-items-info .badge {
  height: 40px;
  line-height: 35px;
}
.content .links-section .card {
  background: #4c4c4c;
}
.content .links-section .card a {
  color: white;
}
.content .contact .map-container {
  height: 100%;
}
.content .footer {
  padding: 25px 0 ;
  background: #212121;
}
.content .call-now {
  position: fixed;
  right: 50px;
  bottom: 10%;
  width: 70px;
  height: 70px;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 11%;
}
.content .call-now .fa-phone {
  font-size: 70px;
  color: #00b971;
}
.content .no-background {
  background: none !important;
}
.content .center {
  margin: 0 auto;
}
